current-sm.json
{"StartAt":"NormalizeInput","States":{"NormalizeInput":{"Type":"Choice","Choices":[{"Variable":"$.item","IsPresent":true,"Next":"UseItem"}],"Default":"BuildItemFromRoot"},"UseItem":{"Type":"Pass","Parameters":{"item.$":"$.item"},"Next":"ValidateRequiredFields"},"BuildItemFromRoot":{"Type":"Pass","Parameters":{"item":{"id.$":"$.id","userId.$":"$.userId","ownerSub.$":"$.ownerSub","s3Key.$":"$.s3Key","rawMediaKey.$":"$.rawMediaKey"}},"Next":"ValidateRequiredFields"},"ValidateRequiredFields":{"Type":"Choice","Choices":[{"And":[{"Variable":"$.item.id","IsPresent":true},{"Or":[{"Variable":"$.item.userId","IsPresent":true},{"Variable":"$.item.ownerSub","IsPresent":true}]},{"Or":[{"Variable":"$.item.s3Key","IsPresent":true},{"Variable":"$.item.rawMediaKey","IsPresent":true}]}],"Next":"CanonicalizeIdentity"}],"Default":"InvalidInput"},"InvalidInput":{"Type":"Fail","Cause":"InvalidInput","Error":"Missing id and/or (userId|ownerSub) and/or (s3Key|rawMediaKey)"},"CanonicalizeIdentity":{"Type":"Choice","Choices":[{"And":[{"Variable":"$.item.userId","IsPresent":true},{"Variable":"$.item.ownerSub","IsPresent":true}],"Next":"PickUploadKey"},{"Variable":"$.item.userId","IsPresent":true,"Next":"SetOwnerSubFromUserId"}],"Default":"SetUserIdFromOwnerSub"},"SetOwnerSubFromUserId":{"Type":"Pass","Parameters":{"item":{"id.$":"$.item.id","userId.$":"$.item.userId","ownerSub.$":"$.item.userId","s3Key.$":"$.item.s3Key","rawMediaKey.$":"$.item.rawMediaKey"}},"Next":"PickUploadKey"},"SetUserIdFromOwnerSub":{"Type":"Pass","Parameters":{"item":{"id.$":"$.item.id","ownerSub.$":"$.item.ownerSub","userId.$":"$.item.ownerSub","s3Key.$":"$.item.s3Key","rawMediaKey.$":"$.item.rawMediaKey"}},"Next":"PickUploadKey"},"PickUploadKey":{"Type":"Choice","Choices":[{"Variable":"$.item.s3Key","IsPresent":true,"Next":"UseS3Key"}],"Default":"UseRawMediaKey"},"UseS3Key":{"Type":"Pass","Parameters":{"item":{"id.$":"$.item.id","userId.$":"$.item.userId","ownerSub.$":"$.item.ownerSub","s3Key.$":"$.item.s3Key"}},"Next":"SegmentOutfit"},"UseRawMediaKey":{"Type":"Pass","Parameters":{"item":{"id.$":"$.item.id","userId.$":"$.item.userId","ownerSub.$":"$.item.ownerSub","s3Key.$":"$.item.rawMediaKey"}},"Next":"SegmentOutfit"},"SegmentOutfit":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","ResultPath":"$.segmentation","Parameters":{"FunctionName":"__SEGMENT_FN_ARN__","Payload":{"item":{"s3Key.$":"$.item.s3Key","bucket":"__UPLOADS_BUCKET__"}}},"Next":"ModerateImage"},"ModerateImage":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","ResultPath":"$.moderation","Parameters":{"FunctionName":"__MODERATION_FN_ARN__","Payload.$":"$"},"Next":"CheckPII"},"CheckPII":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","ResultPath":"$.pii","Parameters":{"FunctionName":"__PII_FN_ARN__","Payload.$":"$"},"Next":"NotifyAdminForApproval"},"NotifyAdminForApproval":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke.waitForTaskToken","TimeoutSeconds":86400,"ResultPath":"$.admin","Parameters":{"FunctionName":"__NOTIFY_ADMIN_FN_ARN__","Payload":{"token.$":"$$.Task.Token","item.$":"$.item","processedImageKey.$":"$.segmentation.Payload.outputKey","moderation.$":"$.moderation.Payload","pii.$":"$.pii.Payload"}},"Catch":[{"ErrorEquals":["States.Timeout"],"ResultPath":"$.notifyError","Next":"ExpireApproval"}],"Next":"AdminDecision"},"ExpireApproval":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","ResultPath":"$.expired","Parameters":{"FunctionName":"__EXPIRE_APPROVAL_FN_ARN__","Payload":{"approvalId.$":"$.item.id","reason":"Timed out waiting for admin approval"}},"Next":"Expired"},"Expired":{"Type":"Fail","Cause":"ApprovalExpired"},"AdminDecision":{"Type":"Choice","Choices":[{"Variable":"$.admin.Payload.decision","StringEquals":"APPROVE","Next":"PublishItem"},{"Variable":"$.admin.Payload.decision","StringEquals":"REJECT","Next":"Rejected"}],"Default":"Rejected"},"Rejected":{"Type":"Fail","Cause":"RejectedByAdmin"},"PublishItem":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","ResultPath":"$.published","Parameters":{"FunctionName":"__PUBLISH_FN_ARN__","Payload.$":"$"},"Next":"Success"},"Success":{"Type":"Succeed"}}}
